{% extends 'graphs/graph_template.html' %}
{% block title %} {% endblock title %}

{% block head %}
    <script type="module" src="{{ url_for("static", filename="./graphs/js/dva_graphs/dva_graphs.js") }}"></script>
    <script src="{{ url_for("static", filename="./graphs/js/dva_graphs/input_manager.js") }}" defer></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="./graphs/css/dva_graphs/dva_graphs.css") }}">
{% endblock head %}

{% block content %}
    <div class="page-content">
        <div id="settings">
            <button class="zoom-button" id="zoom-in">Zoom In</button>
            <input type="number" id="factor" value="10" min="1">
            <button class="zoom-button" id="zoom-out">Zoom Out</button>
        </div>
        <br>
        <div id="container"></div>

        <div id="mouse-stuff">
            <span class="mouse-coord"> X: <input type="number" id="mouse-x" value="" disabled> </span>
            <span class="mouse-coord"> Y: <input type="number" id="mouse-y" value="" disabled> </span>
        </div>
        <div class="function-data">
            <table id="function-table"><tbody>
                <tr class="table-row">
                    <td class="table-box"><input class="table-input" placeholder="Equation" name="equation"></td>
                    <td class="table-box"><input class="table-input" placeholder="Condition" name="condition"></td>
                </tr>
            </tbody></table>
        </div>
        <div class="graph-btn">
            <button id="graph-btn">Graph</button>
        </div>
    </div>
{% endblock content %}