{% extends 'graphs/graph_template.html' %}
{% block title %} {% endblock title %}

{% block head %}
    <script type="module" src="{{ url_for("static", filename="./graphs/js/dva_graphs/dva_graphs.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="./graphs/css/dva_graphs/dva_graphs.css") }}">
{% endblock head %}

{% block content %}
    <div class="page-content">
        <div id="settings">
            <button class="zoom-button" id="zoom-in">Zoom In</button>
            <button class="zoom-button" id="zoom-out">Zoom Out</button>
        </div>
        <br>
        <div id="container"></div>
    </div>
{% endblock content %}