{% extends 'vector2d/vector_template.html' %}
{% block title %}Information on 2D Vectors{% endblock title %}

{% block head %} {% endblock head %}

{% block content %}
    <h1>Information on 2-dimensional vectors...</h1>
    <p>2D Vectors are a way of representing motion on a 2-dimensional plane. Vectors, or polar coordinates, consist of two numbers, a distance and an angle. While working with them can simplify some problems, doing conversions between them and Cartesian coordinates can be repetitive and time-consuming.</p>
{% endblock content %}