{% extends 'core/core.html' %}
{% block title %}2D Vector Tools{% endblock title %}

{% block head %} {% endblock head %}

{% block navbaritems %}
    <a class="no-anchor-decor" href="{{ url_for("vector2d.index") }}">
        <div class="nav-bar-item">
            <h2>2D Vector</h2>
        </div>
    </a>
    <a class="no-anchor-decor" href="{{ url_for("vector2d.vector_addition_calculator") }}">
        <div class="nav-bar-item">
            <h2>2D Vectors Calculator</h2>
        </div>
    </a>
{% endblock navbaritems %}

{% block content %}

{% endblock content %}